.vale-navigation-item {
	cursor: pointer;
	padding: 4px 8px;
	border-radius: 4px 4px 0 0;
	border: var(--background-modifier-border) solid 2px;
	border-bottom: none;
	background-color: var(--background-primary-alt);
	align-items: center;
	gap: 4px;
	display: flex;
	transition:
		background-color 0.2s ease,
		border-color 0.2s ease;
	&.selected {
		border-color: var(--interactive-accent);
		background-color: var(--interactive-accent);
		color: var(--text-on-accent);

		&:hover {
			background-color: var(--interactive-accent);
		}
	}

	&:hover {
		background-color: var(--background-modifier-hover);
		border-color: var(--interactive-accent);
	}

	.vale-settings-tab-icon {
		display: flex;
		align-self: center;
	}
}

.vale-hidden {
	display: none;
}

.vale-tab-settings {
	padding: 1rem;
}

.vale-settings-nav,
.vale-settings-tab-group {
	display: flex;
	align-items: flex-end;
	gap: 8px;
	flex-wrap: nowrap;
}

.vale-settings-nav {
	border-bottom: 3px solid var(--background-modifier-border);
	margin-top: -2px;
}
