name: Releases

on:
  push:
    tags:
      - "*.*.*"

env:
  PLUGIN_NAME: obsidian-vale-redux

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
        name: Checkout code
      - uses: actions/setup-node@v6
        name: Setup Node.js
        with:
          node-version: "24.x"
          cache: "npm"
      - name: Build Plugin
        run: |
          npm install
          npm run build
          mkdir ${{ env.PLUGIN_NAME }}
          cp -r main.js manifest.json styles.css ${{ env.PLUGIN_NAME }}
      - uses: softprops/action-gh-release@v2
        name: Create Release
        with:
          generate_release_notes: true
          files: |
            ${{ env.PLUGIN_NAME }}/main.js
            ${{ env.PLUGIN_NAME }}/manifest.json
            ${{ env.PLUGIN_NAME }}/styles.css
