name: Convert TODOs to issues
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read
  issues: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: TODO to Issue
        uses: alstr/todo-to-issue-action@v5
